<!-- About -->
	<section id="About">
		<div class="container">
			<header class="major">
				<h2>I am Qianli Hu.</h2>
			</header>

			<p>
				I am currently a sixth year Ph.D. student in <a href="http://www.math.gatech.edu/">the School of Math</a> @ Georgia Tech. I am fortunate to be advised by Prof. <a href="https://people.math.gatech.edu/~panrh/"> Ronghua Pan</a>. I obtained my B.S in Mathematics from Tsinghua University, Beijing. Currently I am pursuing a career in the field of data analysis and machine learning.
			</p>
		</div>
	</section>
