<!-- Miscellaneous -->
<section id="Miscellaneous">
	<div class="container">
		<i class="icon-text fa-university" aria-hidden="true"></i> <h3>Currently Teaching Assistant for</h3>
		<ul>
			<li>[Fall 2019] MATH 6341 Differential Equations</li>
			<li>[Fall 2019] MATH 1554 Linear Algebra for distant learning students</li>
		</ul>

		<i class="icon-text fa-trophy" aria-hidden="true"></i> <h3>Other projects</h3>
		<ul>
			<li>[2018] Gold medal for Kaggle Contest: <a href="https://www.kaggle.com/c/home-credit-default-risk">Home Credit Default Risk</a></li>
			
			
		</ul>

		<i class="icon-text fa-external-link" aria-hidden="true"></i> <h3>Resources</h3>
		<ul>
			<li>An excellent explanation on <a href="https://distill.pub/2017/momentum/">Momentum</a> optimization </li>
classical reference on <a href="https://www.cs.cmu.edu/~quake-papers/painless-conjugate-gradient.pdf">Conjugate Gradient</a> method </li>
			
		</ul>
	</div>
</section>
